.loader{
    position:fixed;
    top:0;
    left:0;
    justify-items: center;
    align-items: center;
    display: flex;
    width:100vw;
    height:100vh;
    background-color: white;
    transition:opacity 1s , visibility 1s;
}
.loader-hidden{
    opacity: 0.75s;
    visibility: hidden;
}
.loader::after{
    content:"";
    width:75px;
    height:75px;
    border:15px double white;
    border-radius: 50%;
    border-top-color:skyblue;
    border-bottom-color:navy;
    animation:loading 1s ease-in-out infinite;

    animation-delay: -1s;
    

}
@keyframes loading{
    from{
        transform:rotate(2turn );
    }
    to{
        transform: rotate(4turn);
    }
}